# Sao chép file này thành .env và điền giá trị thật vào
# cp .env.example .env

# Địa chỉ model server
OPENAI_BASE_URL=https://generativelanguage.googleapis.com/v1beta/openai/

#key model ai:
OPENAI_API_KEY=AIzaSy...

#model ai
OPENAI_MODEL=gemini-3.5-flash

#key Tavily và DB
TAVILY_API_KEY=tvly...
DATABASE_URL=sqlite:///./scriptscout.db